.button {
  border-radius: 6px;
  color: #f6f8f9;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.006em;
  color: #f6f8f9;
  border: none;
  transition: all 0.7s;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}

.button_disabled {
  background-color: lightgrey !important;
}

.button_disabled:hover {
  cursor: auto;
  opacity: 1;
  transform: scale(1);
}
