.form {
  padding: 16px 0;
}

.form__input {
  margin-right: 8px;
  background: #ffffff;
  border: 1px solid #dde2e4;
  box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252c32;
}

.form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #9aa6ac;
}

.search__input {
  width: 256px;
  height: 32px;
  background: url(../../images/search.svg) no-repeat 8px/16px;
  padding: 4px 12px 4px 34px;
}

.search__button {
  background: #4094f7;
  width: 71px;
  height: 32px;
}

.form__textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252c32;
}

.form__textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #9aa6ac;
}

.form__option {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252c32;
}
