.form {
  padding: 16px 0;
}

.form__error-message {
  position: absolute;
  color: red;
  top: 28px;
  left: 0;
  font-size: 11px;
  line-height: 9px;
  margin: 0;
  font-weight: 500;
}

.form__label {
  position: relative;
}

.form__input {
  margin-right: 8px;
  background: #ffffff;
  border: 1px solid #dde2e4;
  box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252c32;
  transition: all 1s;
}

.form__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #9aa6ac;
}

.form__input_error {
  border-color: red;
  color: red;
}

.form__input_error::placeholder {
  color: red;
}

.search__input {
  width: 256px;
  height: 32px;
  background: url(../../images/search.svg) no-repeat 8px/16px;
  padding: 4px 12px 4px 34px;
}

.search__button {
  background: #4094f7;
  width: 71px;
  height: 32px;
}

.form__textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252c32;
  transition: all 1s;
}

.form__textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #9aa6ac;
}

.form__textarea_error {
  border-color: red !important;
  color: red;
}

.form__option {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252c32;
}
